* {
  transition: all 0.25s;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
  text-transform: uppercase;
  padding: 10px;
}

.subrayado-titulo-h1-blanco {
  color: white;
  border: white 3px solid;
  transform: translateY(-20px);
}

a {
  color: inherit;
}

a:hover{
  color: gray;
}

.key {
  background: rgb(56, 56, 56);
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: black 1px solid;
  box-shadow: inset 3px 3px rgba(255, 255, 255, 0.205), inset -3px -3px rgba(0, 0, 0, 0.205);
  font-weight: lighter;
  font-size: 80%;
}